<!-- Home page for logging in and creating new accounts. -->
<%- include("header.ejs") %>
<!-- Body for the home page. -->
<body>
    <div class="container">
        <div class="row align-items-start">
          <div class="col-6">
            <!-- New user form -->
            <form action="/users/register" method="POST">
                <h2 class="pt-3">New User? Create an Account</h2>
                <div class="form-group mb-3">
                  <label for="InputNewUsername" class="form-label">Choose an unique username</label>
                  <input type="text" class="form-control" name="user_name" id="">
                </div>
                <div class="form-group mb-3">
                    <label for="InputName" class="form-label">Enter your name</label>
                    <input type="text" class="form-control" name="name" id="">
                </div>
                <div class="form-group mb-3">
                    <label for="InputBalance" class="form-label">Create a password</label>
                    <input type="password" class="form-control" name="password" id="">
                </div>
                <input type="submit" class="btn btn-primary" value="Register">
              </form>
               <!-- End new user form -->
          </div>
          <!-- Existing user login form -->
          <div class="col-6 mt-5">
            <form action="/users/login" method="POST">
                <h2>Log in to an Existing Account</h2>
                 <div class="mb-3">
                    <label for="InputUsername" class="form-label">Log in as</label>
                    <input type="text" class="form-control" name="user_name" id="">
                </div>
                <div class="form-group mb-3">
                  <label for="InputPassword" class="form-label">Enter Password</label>
                  <input type="password" class="form-control" name="password" id="">
              </div>
                <input type="submit" class="btn btn-primary" value="Login">
              </form>
          </div>
          <!-- End user login form -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <%- include("footer.ejs") %>
</body>
</html>